@import src/index

.container
	+row()
	+size()
	background-color: #021873

.left-side
	background-color: $var__login-background
	+size(695px, calc(100% - 110px))
	+column(null, space-between)
	padding: 40px 170px 70px

.logo
	cursor: pointer

	&._mt_25
		margin-top: 25px

.auth-form
	+column()

	&__header
		font-weight: 500
		font-size: 35px
		line-height: 44px
		letter-spacing: -0.01em
		color: #fff

	&__input-box
		+column()
		margin-top: 30px

		> * + *
			margin-top: 20px

	&__btn
		margin-top: 35px
		padding: 20px 40px
		font-weight: 500
		font-size: 16px
		line-height: 20px
		letter-spacing: 0.005em
		background-color: $var__login-btn-background
		color: $var__login-btn-color
		text-align: center
		border-radius: 10px
		transition: opacity .3s ease-out

		&._active
			cursor: pointer
			background-color: $var__login-btn-active-background
			color: $var__login-btn-active-color

			&:hover
				opacity: .84

.helpers
	font-size: 15px
	line-height: 19px
	letter-spacing: 0.005em
	color: #7D8CCC
	+column()

.right-side
	mix-blend-mode: screen
	display: block
	width: 100%
	height: 100%