@import src/index

.container
	overflow: hidden
	height: 100%

.padding-wrap
	padding: 0 120px
	overflow: hidden
	height: 100%

.inner
	overflow: hidden
	height: 100%

.pagination
	display: block
	margin-bottom: 26px
	height: 58px
	+row(center, space-between)

.header
	margin-top:
	padding: 20px
	+row()
	font-size: 15px
	line-height: 120%
	color: #949494
	background: #F7F7F8
	border-radius: 10px

	> * + *
		margin-left: 8px

.header-cell

	&._last
		margin-left: auto
		text-align: right

.row
	padding: 20px
	height: 62px
	box-sizing: border-box
	border-bottom: 1px solid #F2F2F2
	+row()
	color: #2F2F37
	font-size: 15px
	line-height: 120%
	letter-spacing: 0.005em

	> * + *
		margin-left: 8px

.row-cell

	&._last
		margin-left: auto
		text-align: right

.scrollable
	height: calc(100% - 146px)
	overflow: auto

.canceled,
.completed,
.in-review,
.stopped
	padding: 5px 10px
	border-radius: 22px

.canceled
	background-color: #202020
	color: #fff

.in-review
	background-color: #6F8CE9
	color: #fff

.completed
	background-color: #1DAB98
	color: #fff

.stopped
	color: #2F2F37
	background-color: #CCCCDB

.page-status
	+row()

	> * + *
		margin-left: 8px

.left,
.right
	cursor: pointer
	+row(center, center)

.left
	transform: rotate(180deg)